<div class="container-fluid">
  <div class="col-md-10">
      <table class="table table-striped">
      <th>Name</th>
      <th>Body</th>
      <th></th>
      <th></th>
        <tr ng-repeat="tweet in tweets | filter:query | orderBy:orderProp"> 
          <td><a href="/users/{{tweet.user_id}}">{{tweet.name}}</a></td>
          <td>{{tweet.body}}</td>
          <td><a href="/tweets/{{tweet._id}}/edit" class="btn btn-primary">Edit</a></td>
          <td><a class="btn btn-danger", ng-click="deleteTweet(tweet)">Delete</a></td> 
        </tr>
      </table>
      <a href="/tweets/new" class="btn btn-primary">New</a>    
  </div>
</div>
