<div class="container-fluid">
  <div class="col-md-10">
      <table class="table table-striped">
      <th>Screen Name</th>
      <th>Name</th>
      <th>Description</thi>
      <th>Location</th>
      <th>Followers</th>
      <th>Website</th> 
      <th></th>
        <tr> 
          <td>{{user.screen_name}}</td>
          <td>{{user.name}}</td>
          <td>{{user.description}}</td>
          <td>{{user.location}}</td>
          <td>{{user.followers_count}}</td>
          <td>{{user.website}}</td> 
        </tr>
      </table>  
  </div>
</div>
